@import "./src/common/styles/sass/variables.scss";

.profInfo {
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .profInfoDiv {
    display: flex;
    flex-wrap: wrap;

    .profInfoText {
      padding: 0 15px;
      font-size: 19px;
      font-weight: 500;
      line-height: 1.6;
      text-align: -webkit-match-parent;
      list-style: none;

      .liTitle {
        opacity: .8;
        text-transform: capitalize;
      }

      .liValue {
        font-weight: 600;
      }
    }
  }
}

li {
  display: block;
  padding-bottom: 15px;
}

.titleSkill {
  margin: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .titleSpan {
    color: $primaryColor;
  }
}

.blockSkills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@keyframes anim {
  100%{
    stroke-dashoffset: 0;
  }

}