@import "./src/common/styles/sass/variables";
.colorBlock {
  position: fixed;
  height: 200%;
  width: 100%;
  transform: rotate(-15deg);
  left: -83%;
  top: -50%;
  background-color: $primaryColor;
}

.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  .ava {
    background-image: url(../../../assets/img/Samurai.jpg);
    box-shadow: 0 0 10px $bgColor;
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    width: 450px;
    border-radius: 30px;
    z-index: 1;
  }

  .text {
    line-height: 30px;
    width: 50%;
    font-family: 'Open Sans', sans-serif;
    z-index: 1;

    .h {
      color: $primaryColor;
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 0;
    }

    .textSpan {
      font-size: 30px;
      line-height: 30px;
    }

    .p {
      font-size: 16px;
      line-height: 25px;
    }
  }

}

@media screen and (max-width: 1125px) {
  .colorBlock {
    background-color: $bgColor;
  }
  .block {
    justify-content: center;
    flex-direction: column;
    .ava{
      box-shadow: 0 0 10px $primaryColor;
    }
  }
}

@media screen and (max-width: 875px) {
  .block {
    justify-content: center;
    flex-direction: column;
    margin: 20px 0;

    .ava {
      border-radius: 50%;
      width: 270px;
      height: 270px;
      border: 4px solid $bgSecondColor;
      margin-bottom: 20px;
    }

    .text {
      width: 350px;

      .h {
        font-size: 20px;
        line-height: 20px;
      }

      .textSpan {
        font-size: 15px;
        line-height: 15px;
      }

      .p {
        font-size: 10px;
        line-height: 18px;
      }
    }
  }
  .colorBlock {
    z-index: -1;
  }
}