.button {
    border: 1px solid #ffb400;
    display: inline-block;
    line-height: 1.4;
    border-radius: 35px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    padding: 16px 70px 16px 35px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    &:before, .button-icon {
        background-color: #ffb400;
    };
    &:before, .button-icon {
        background-color: #ffb400;
    };
    &:before {
        z-index: -1;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateX(100%);
        transition: .3s ease-out all;
        border-right: 35px;
    }
    &:hover:before {
        transform: translateX(0);
    }

    .buttonText {
        font-size: 15px;
        position: relative;
        z-index: 2;
        color: #fff;
        transition: .3s ease-out all;
    }

    .buttonIcon {
        background-color: #ffb400;
        position: absolute;
        right: -1px;
        top: -1px;
        bottom: 0;
        width: 55px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 19px;
        color: #ffffff;
        border-radius: 50%;
    }
}