.container {
    border: 1px chartreuse solid;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.page {
    color: white;
    min-height: 100vh;
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
}

.title span {
    color: #ffc107;
}

.title h1 {
    font-size: 60px;
    line-height: 0.7;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    margin-top: 45px;
}

.backTitle {
    font-size: 110px;
    font-weight: 900;
    letter-spacing: 10px;
    position: absolute;
    color: rgba(255, 255, 255, 0.07);
}

li {
    display: block;
    padding-bottom: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.liTitle {
    opacity: .8;
    text-transform: capitalize;
}

.liValue {
    font-weight: 600;
}

.button {
    border: 1px solid #ffb400;
    display: inline-block;
    line-height: 1.4;
    border-radius: 35px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    padding: 16px 70px 16px 35px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
}

.button:before, .button-icon {
    background-color: #ffb400;
}

.button:before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(100%);
    transition: .3s ease-out all;
    border-right: 35px;
}

.button:hover:before {
    transform: translateX(0);
}

.buttonText {
    font-size: 15px;
    position: relative;
    z-index: 2;
    color: #fff;
    transition: .3s ease-out all;
}

.buttonIcon {
    background-color: #ffb400;
    position: absolute;
    right: -1px;
    top: -1px;
    bottom: 0;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    color: #ffffff;
    border-radius: 50%;
}

@media screen and (max-width: 650px) {
    .backTitle {
        font-size: 60px;
    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 60px 0 40px 0;
    }

    .title h1 {
        font-size: 31px;
        margin-top: 25px;
    }
}